/* TODO: remove */
.firebase-emulator-warning {
  display: none !important;
}

:root {
  --text: hsl(0 0% 80%);
  --error: hsl(10 100% 60%);
  --bg: hsl(0 0% 5%);
  --button-bg: hsl(0 0% 14%);
  --button-border: hsl(0 0% 30%);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;

  max-width: 60ch;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;

  color: var(--text);
  background-color: var(--bg);
}

/* HEADER */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

h1 {
  position: relative;
  width: fit-content;
  margin: 0;

  font-family: "Lemonada", serif;
  font-size: clamp(2rem, 10vw, 4rem);
  line-height: 140%;

  color: transparent;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, hsl(280 100% 40%), hsl(320 100% 60%), hsl(40 100% 60%));
  background-clip: text;
  -webkit-background-clip: text;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  height: 4px;

  background: linear-gradient(to right, hsl(280 100% 40%), hsl(320 100% 60%));
  border-radius: 2px;
}

nav {
  --gap: 0.5ch;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* FOOTER */

footer {
  margin-bottom: 1rem;
}

footer>* {
  width: fit-content;
  margin: auto;
}

/* GENERAL */

main {
  flex: 1;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a,
.a {
  display: inline-block;
  color: var(--text);
  text-decoration: underline;
}

a:hover,
.a:hover {
  filter: brightness(140%);
}

hr {
  width: 100%;
  margin: 0;
}

input {
  display: block;
  min-width: 50%;
  padding: 0.6rem;

  font-family: "Inter", sans-serif;
  font-size: 18px;

  color: var(--text);
  background-color: transparent;

  border: 2px solid var(--button-bg);
  border-radius: 0.5rem;
}

input.invalid,
input:invalid {
  border-color: var(--error);
}

input.invalid+p,
input:valid+p {
  display: none;
}

/* ICONS */

i::before {
  font-size: 24px;
}

/* BUTTONS */

.button {
  display: block;
  padding: 0;

  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 18px;

  color: var(--text);
  background-color: transparent;

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
  transition-duration: 0.1s;
}

.button:hover {
  filter: brightness(140%);
}

.button.primary,
.button.secondary {
  padding: 0.6rem 1.2rem;
  background-color: var(--bg);
  border: 2px solid var(--button-border);
}

.button.primary {
  background-color: var(--button-bg);
}

/* UTILITY */

.button-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  width: 100%;
}

.button-container .button {
  flex: 1;
}

.form-container {
  margin-inline: auto;
  width: fit-content;
  width: 30ch;
  max-width: 100%;
}

.form-container input {
  width: 100%;
}

.icon-label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap, 1ch);
  min-width: max-content;
}

.flow>*+* {
  margin-top: 1rem;
}

.hidden {
  display: none !important;
}